# Ignore node_modules directory in the frontend folder
frontend/node_modules/

# Ignore node_modules directory in the server folder
server/node_modules/

# Ignore config.js file in the server folder
server/config.js