.book {
    border: 1px solid #862626;
    box-sizing: border-box;


    height: 300px;
    width: 20%;
    // flex: 1;

    .bookFront {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        p {
            align-self: flex-start;
        }

        img {
            align-self: flex-end;
            width: 100%;
            height: auto;
            border-radius: 1px;
        }
    }

    .bookSeide {
        rotate: calc(90);
    }
}