.shelf {
    border: 1px solid #3fbe33;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;

    .shelfTop {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        div {
            margin: 5px 5px 0px 5px;
        }
    }

    .shelfBooks {
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        border: 2px solid blue;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}