.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* Ensure wrapper takes up at least full viewport height */
  .page {
    // .page given to div of any file in pages directory 
    flex-grow: 1;
  }

  li {
    list-style-type: none;
  }
}