$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);


.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  /* Ensure wrapper takes up at least full viewport height */
  .page {
    // .page given to div of any file in pages directory 
    flex-grow: 1;
  }

  li {
    list-style-type: none;
  }

  .btnDelete {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid #ff4742;
    color: #ff4742;
    background: 0 0;
    padding: 6px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
    height: 32px;

    &:hover {
      background-color: #ff4742;
      color: #fff;
    }
  }
}